# Ignore compiled Python files
*.pyc

# Ignore local development settings
local_settings.py

# Ignore any log files
*.log

# Ignore database files
db.sqlite3
*.sqlite3
*.db

# Ignore any generated documentation
docs/_build/

# Ignore cache files
__pycache__/

# Ignore all files in Django's migrations directory except __init__.py
**/migrations/*
!**/migrations/__init__.py

# Ignore PostgreSQL database files
*.bak
*.sql
*.dump
*.out
*.pg_dump
*.pg_dumpall
*.pg_restore

staticfiles/

debug.log
debug.log*

static/admin
static/rest_framework

media/qrcode.png