<div class="testing">
    <div class="container">
      <h2 class="login100-form-title" style="font-size:xx-large">Registration Form</h2>
        
      <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" id="id_username" name="username" type="text" placeholder="Username" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input type="email" name="email" id="email" class="input100" placeholder="Email" required> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" id="school_name" name="school_name" type="text" placeholder="School Name" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>
        
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" id="mobile_number" name="mobile_number" type="text" placeholder="Mobile Number" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="col-md-4">
            <div class="form-group">
            <label>country</label>
            <select name="country" class="selectpicker" data-title="Select Gender" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
            {% for x,y in form.fields.country.choices %}
               <option value="{{ y }}"{% if form.fields.country.value == x %} selected{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
          </div>  
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" id="chairman" name="chairman" type="text" placeholder="Chairman" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" id="principal" name="principal" type="text" placeholder="Principal" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input type="password" name="password1" id="password1" class="input100" placeholder="Password" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

   
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input type="password" name="password2" id="password2" class="input100" placeholder="Confirm Password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" id="address" name="address" type="text" placeholder="Address" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8 container-login100-form-btn">
            <button type="submit" class="btn btn-default login100-form-btn">Submit</button>
          </div>
        </div>
    </div>
  </div>