{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
  Filter the data
{% endblock title %}


{% block content %}
<div>

  <form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group row">
      {{ form.class_name.errors }}
      <label class="col-2" for="{{ form.class_name.id_for_label }}">{{ form.class_name.label_tag}}</label>
      <div class="col">{{ form.class_name | add_class:"form-control" }}
       <p><a href="{% url 'class-create' %}"> Click here</a> To Create Class</p>
      </div>
    </div>
    {% if subjectshow %}
    <div class="form-group row">
      {{ form.subjects.errors }}
      <label class="col-2" for="{{ form.subjects.id_for_label }}">{{ form.subjects.label_tag}}</label>
      <div class="col">{{ form.subjects | add_class:"form-control" }}
       <p><a href="{% url 'subject-create' %}"> Click here</a> To Create Subject</p>
      </div>
    </div>
    {% endif %}
    <div class="form-group row">
      {{ form.date_of_attendance.errors }}
      <label class="col-2" for="{{ form.date_of_attendance.id_for_label }}">{{ form.date_of_attendance.label_tag}}</label>
      <div class="col">{{ form.date_of_attendance | add_class:"form-control" }}</div>
    </div>

    <input type="hidden" name="finish" value="True">
    <input type="hidden" name="students" value="{{ students }}">

    <input type="submit" class="btn btn-success" value="{{ button }}">
  </form>

{% endblock content %}
