{% extends 'base.html' %}

{% block content %}
  {% if has_records %}
    {% for class, data in attendances_state.items %}
      <h1>Class {{ class }}</h1>

      <div class="table-responsive">
        <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
          <thead class="thead-light">
            <tr>
              <th>S/N</th>
              <th>Registration Number</th>
              <th>Student Name</th>
              {% for subject in subjects %}
                <th>{{ subject.name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for student_data in students %}
              <tr class='clickable-row' data-href="{% url 'student-detail' student_data.pk %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ student_data.registration_number }}</td>
                <td>{{ student_data.last_name }} {{ student_data.first_name }}</td>
                {% for subject in subjects %}
                <td>
                  {% for class, data in attendances_state.items %}
                    {% for attendance in data.students %}
                      {% if attendance.student_id == student_data.pk and attendance.subject_id == subject.id %}
                        {{ attendance.attendance_status }}
                      {% endif %}
                    {% empty %}
                      <span class="no-records">No records found</span>
                    {% endfor %}
                  {% endfor %}
                </td>
              {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% else %}
    <div class="no-records-container">
      <p class="no-records">No records found</p>
    </div>
  {% endif %}

  <style>
    .no-records-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; /* Adjust the height as needed */
    }

    .no-records {
      font-size: 18px;
      color: #999;
    }
  </style>
{% endblock content %}