{% extends 'base.html' %}
{% load static %}
{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool" onclick="printData()">Print</a>
    <a href="{% url 'staff-update' object.pk %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'staff-delete' object.pk %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
<div class="row mb-4">
  <div class="col-sm-4">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'corecode/form_snippet.html' %}
          <input id="passport-input" type="file" name="passport" style="display: none;">
        {% if object.passport %}
          <img id="passport-image" src="{{ object.passport.url }}" class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
        {% else %}
          {% if object.gender == "female" %}
            <img id="passport-image-gender1" src="{% static 'dist/img/avatar3.png' %}" class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% else %}
            <img id="passport-image-gender2" src="{% static 'dist/img/avatar5.png' %}" class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% endif %}
        {% endif %}
      </form>
    <div>
      <h3>{{ object }}</h3>
      <h5>{{ object.get_gender_display }}</h5>
      <h5>{{ object.get_current_status_display }}</h5>
    </div>
  </div>
  <div class="col-sm-8">
    <div>
      <div class="form-group border-bottom row">
        <label class="col">
          Date of Birth
        </label>
        <div class="col">
          {{ object.date_of_birth }}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Mobile Number
        </label>
        <div class="col">
          {{ object.mobile_number}}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Email
        </label>
        <div class="col">
          {{ object.email}}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Address
        </label>
        <div class="col">
          {{ object.address }}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Comments
        </label>
        <div class="col">
          {{ object.comments }}
        </div>
      </div>
      <div class="form-group border-bottom row">
        <label class="col">
          Temporary Password
        </label>
        <div class="col">
          {{ object.temp_password }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to print the content
  function printData() {
    window.print();
  }
</script>
{% endblock content %}
