{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block title-side %}
{% endblock title-side %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          {% for field in form %}
            {% if field.name == 'current' %}
            <div class="form-group d-flex" style="flex-direction: row; justify-content: start; align-items: center;">
              <input type="checkbox" name="{{ field.name }}" required class="form-control" id="{{ field.id_for_label }}" value="checked" {% if field.value == 'checked' %}checked{% endif %} style="width: 20px;">
              <label for="{{ field.id_for_label }}" style="margin-left: 10px; margin-bottom: 0;">{{ field.label }}</label>
          </div>
          
            {% else %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" | add_error_class:"is-invalid" | attr:"required" }}
                {{ field.errors }}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <input type="submit" value="Save" class="w-25 btn btn-primary">
      </form>
    </div>
  </div>
{% endblock content %}