{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{title}}
{% endblock title %}

{% block title-side %}{% endblock title-side %}

{% block content %}
  <h3>Create Event/Holiday</h3>
  <form method="post">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="form-group">
          {{field.label_tag}}
          {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
{% endblock content %}
